<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Blog</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <%- include("partials/header.ejs") %>

    <h1>My Blog Web App</h1>
    <h2>Please edit and save your changes to update the post.</h2>

    <div>
        <form action="/edit" method="POST">
            <input type="hidden" name="id" value="<%= post.id %>">
            <label>Post title:</label>
            <input type="text" id="ptitle" name="ptitle" value="<%= post.title %>">
            <label>Post:</label>
            <input type="text" id="ptext" name="ptext" value="<%= post.postText %>">
            <button type="submit">Save</button>
        </form>
    </div>

    <%- include("partials/footer.ejs") %>
  </body>
</html>